In [6]:
# Useful packages
import os
import numpy as np
import pandas as pd
import io
import json
import datetime as pkgdt
import time
import requests 
from requests.adapters import HTTPAdapter
import itertools # list operators


url = "https://api-access.electricitymaps.com/tw0j3yl62nfpdjv4/carbon-intensity/forecast"
headers = {
  "X-BLOBR-KEY": "coStv0izimKrykPsNN4emffMpGfNqUbU"
}

r = requests.get(url, headers=headers)


if r.status_code != 200: # see HTTP errors
    print("HTTP ERROR")
else:  
    r.text
    df = pd.DataFrame(r.json()) # make pandas dataframe from the JSON obtained through the API -- to adapt if format is not JSON
    df.columns = map(str.lower, df) # Can be used to force lower case for column name (can ease data processing in the long run !
    

df

HTTP ERROR

,ad,ae,af,ag,al,am,ao,ar,at,aus-nsw,...,vn,vu,ws,xk,xx,ye,yt,za,zm,zw
zoneName,Andorra,United Arab Emirates,Afghanistan,Antigua and Barbuda,Albania,Armenia,Angola,Argentina,Austria,New South Wales,...,Vietnam,Vanuatu,Samoa,Kosovo,Northern Cyprus,Yemen,Mayotte,South Africa,Zambia,Zimbabwe
countryName,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN